.btn {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  border-radius: 1.5rem;
  border: none;
  color: $white !important;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include shadow;
  background: linear-gradient(
    180deg,
    $secondary-color,
    lighten($primary-color, 5%)
  );
  cursor: pointer;
  a {
    color: $white;
  }
  &--homepage {
    padding: 15px 22px;
  }
  &:hover {
    background: linear-gradient(
      180deg,
      lighten($secondary-color, 8%),
      lighten($primary-color, 8%)
    );
    @include shadow($dark-grey);
  }
  @include breakpoints(tablet) {
    transform: scale(1.1);
  }
}
