.select_animation {
  display: flex;
  background-color: $tertiary-color;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 100ms linear;
  border-radius: 0 1rem 1rem 0;

  &--icon {
    color: $white;
    font-size: 1.6rem;
    margin: auto;
    padding: 0 25px 0;
    transition: transform 300ms 100ms linear;
    transform: rotate(0deg);
  }
}
