@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex, .pages_header a, .homepage_header, .pages_header, .restaurant_menu_card .dish--price, .restaurant_menu_card .dish, .step_card--content, .step_card--number, .step_card, .user_location {
  display: flex;
}

body,
ul {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

.loading_animation {
  display: flex;
  position: fixed;
  z-index: 99;
  transform: scale(0);
  background-color: rgba(54, 54, 54, 0.97);
  backdrop-filter: blur(25px);
  animation: load-background 2.75s 100ms ease-in-out backwards;
}
.loading_animation i {
  transform: scale(0);
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 100%;
  font-size: 8rem;
  color: #9356dc;
  margin: auto;
  animation: load-spinner 2.75s 100ms linear backwards;
}

@keyframes load-spinner {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    color: #9356dc;
  }
  25% {
    color: #99e2d0;
  }
  50% {
    opacity: 0.75;
    color: #9356dc;
  }
  75% {
    opacity: 0.75;
    color: #ff79da;
  }
  100% {
    color: #99e2d0;
    transform: rotate(2turn);
    opacity: 0;
  }
}
@keyframes load-background {
  0%, 100% {
    transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}
.like__btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  position: relative;
}
.like__btn:hover .heart--filled > path {
  cursor: pointer;
  stroke: url(#gradient1);
  fill: url(#gradient1);
  opacity: 1;
  transform: scale(1);
}
.like__btn:hover .heart--filled.dos > path {
  cursor: pointer;
  stroke: url(#gradient2);
  fill: url(#gradient2);
  opacity: 1;
  transform: scale(1);
}
.like__btn:hover .heart--filled.tres > path {
  cursor: pointer;
  stroke: url(#gradient3);
  fill: url(#gradient3);
  opacity: 1;
  transform: scale(1);
}
.like__btn:hover .heart--filled.dos.quatro > path {
  cursor: pointer;
  stroke: url(#gradient4);
  fill: url(#gradient4);
  opacity: 1;
  transform: scale(1);
}
.like__btn .heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.like__btn .heart > path {
  stroke-width: 1;
  stroke: black;
  fill: transparent;
}
.like__btn .heart--filled {
  position: absolute;
  top: 0;
  left: 0;
}
.like__btn .heart--filled > path {
  stroke-width: 1;
  stroke: black;
  fill: url(#gradient1);
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s linear;
  transform-origin: 12px 20px;
}
.like__btn .heart--filled .heart--filled.dos {
  position: absolute;
  top: 0;
  left: 0;
}
.like__btn .heart--filled .heart--filled.dos > path {
  stroke-width: 1;
  stroke: black;
  fill: url(#gradient2);
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s linear;
  transform-origin: 12px 20px;
}
.like__btn .heart--filled .heart--filled.tres {
  position: absolute;
  top: 0;
  left: 0;
}
.like__btn .heart--filled .heart--filled.tres > path {
  stroke-width: 1;
  stroke: black;
  fill: url(#gradient3);
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s linear;
  transform-origin: 12px 20px;
}
.like__btn .heart--filled .heart--filled.quatro {
  position: absolute;
  top: 0;
  left: 0;
}
.like__btn .heart--filled .heart--filled.quatro > path {
  stroke-width: 1;
  stroke: black;
  fill: url(#gradient4);
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s linear;
  transform-origin: 12px 20px;
}

.select_animation {
  display: flex;
  background-color: #99e2d0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 100ms linear;
  border-radius: 0 1rem 1rem 0;
}
.select_animation--icon {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  padding: 0 25px 0;
  transition: transform 300ms 100ms linear;
  transform: rotate(0deg);
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  border-radius: 1.5rem;
  border: none;
  color: #fff !important;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-shadow: 0 4px 10px #c2c2c2;
  background: linear-gradient(180deg, #ff79da, #a16be0);
  cursor: pointer;
}
.btn a {
  color: #fff;
}
.btn--homepage {
  padding: 15px 22px;
}
.btn:hover {
  background: linear-gradient(180deg, #ffa2e5, #a978e3);
  box-shadow: 0 4px 10px #363636;
}
@media screen and (min-width: 768px) {
  .btn {
    transform: scale(1.1);
  }
}

.homepage_titles, .restaurants h2, .how_to h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 25px;
}

.user_location {
  height: 50px;
  background-color: #ebebeb;
  color: #363636;
  box-shadow: inset 0 3px 3px 0px #cfcfcf;
}
.user_location i {
  margin-right: 15px;
}
.user_location p {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .user_location {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .user_location {
    font-size: 1.5rem;
  }
}

.call_to_action {
  padding: 40px 25px 55px;
  text-align: center;
  background-color: #f5f5f5;
}
.call_to_action h2 {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}
.call_to_action p {
  margin: auto;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .call_to_action {
    font-size: 1.5rem;
  }
  .call_to_action h2 {
    color: #9356dc;
  }
}
@media screen and (min-width: 992px) {
  .call_to_action {
    font-size: 1.7rem;
  }
  .call_to_action h2 {
    color: #9356dc;
  }
}

.how_to {
  padding: 45px 20px 40px;
}
@media screen and (min-width: 768px) {
  .how_to {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25rem;
  }
  .how_to h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ff79da;
    text-decoration-style: double;
  }
  .how_to .howto_cards {
    width: 100%;
    max-width: 400px;
  }
}
@media screen and (min-width: 992px) {
  .how_to {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25rem;
  }
  .how_to h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ff79da;
    text-decoration-style: double;
  }
}
.how_to .howto_cards {
  width: 100%;
}

.step_card {
  width: 100%;
  height: 72px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.step_card--number {
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  z-index: 2;
  font-size: 0.8rem;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #9356dc;
  color: #fff;
  font-weight: 600;
}
.step_card--content {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  font-weight: 600;
  box-shadow: 0 4px 10px #363636;
}
.step_card--content i {
  width: 21px;
  margin-left: -50px;
  margin-right: 25px;
  color: grey;
  font-size: 1.2rem;
}
.step_card--content .mobile {
  margin-left: -30px;
}
.step_card--content:hover {
  background-color: #f2eafb;
}
.step_card--content:hover i {
  color: #9356dc;
}

.restaurants {
  padding: 55px 20px 45px;
  background-color: #f5f5f5;
}
.restaurants h2 {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .restaurants h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ff79da;
    text-decoration-style: double;
  }
  .restaurants .responsive_restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .responsive_restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .responsive_restaurants .restaurant_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

.restaurant_card {
  box-shadow: 0 4px 10px #363636;
  box-sizing: border-box;
  border-radius: 1.25rem;
  width: auto;
  height: 250px;
  margin-bottom: 16px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .restaurant_card {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .restaurant_card {
    height: 350px;
  }
  .restaurant_card__image {
    height: 75%;
  }
  .restaurant_card__description {
    height: 25%;
  }
}
.restaurant_card--image {
  height: 70%;
  position: relative;
}
.restaurant_card--image img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant_card--image .new_restaurant {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 6px 13px;
  border-radius: 0.2rem;
  font-weight: 700;
  font-size: 0.9rem;
}
.restaurant_card--description {
  display: flex;
  width: 90%;
  height: 30%;
}
.restaurant_card--description--infos {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0 10px 15px;
  font-size: 1.2rem;
}
.restaurant_card--description--infos .restaurant_name {
  font-weight: 700;
  margin-bottom: 3px;
}
.restaurant_card--description--infos .restaurant_city {
  font-weight: 300;
  font-size: 1.1rem;
}
.restaurant_card .restaurant_like {
  padding: 15px 0 0 15px;
  margin: auto;
}

.restaurant_bg_image {
  height: 250px;
}
.restaurant_bg_image.palette_du_gout {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center/cover;
}
.restaurant_bg_image.note_enchantee {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center/cover;
}
.restaurant_bg_image.a_la_francaise {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
}
.restaurant_bg_image.delice_des_sens {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
}

.restaurant_menu_card {
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f5f5f5;
  margin-top: -30px;
  margin-bottom: 0;
  padding: 30px 20px 40px 20px;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 992px) {
  .restaurant_menu_card {
    width: 60%;
    margin: -30px auto 80px auto;
    border-radius: 2.5rem;
  }
}
.restaurant_menu_card .restaurant_menu_card_name {
  display: flex;
  justify-content: space-between;
}
.restaurant_menu_card .restaurant_menu_card_name h2 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  font-weight: 500;
}
.restaurant_menu_card .restaurant_menu_card_name i {
  padding: 25px 25px;
}
.restaurant_menu_card h3 {
  margin-top: 25px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.restaurant_menu_card h3::after {
  content: "";
  display: block;
  height: 2.5px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 4px;
}
.restaurant_menu_card .entrance_animation {
  animation: loading-entrance 1.5s 100ms forwards;
}
.restaurant_menu_card .dishes_animation {
  animation: loading-dishes 1.5s 1s forwards;
}
.restaurant_menu_card .dessert_animation {
  animation: loading-dessert 1.5s 2s forwards;
}
@keyframes loading-entrance {
  0% {
    transform: translateY(20px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes loading-dishes {
  0% {
    transform: translateY(20px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes loading-dessert {
  0% {
    transform: translateY(20px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.restaurant_menu_card .dish {
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  margin-top: 15px;
  opacity: 0;
}
.restaurant_menu_card .dish--content {
  width: 80%;
  padding: 12px 0 12px 10px;
  transform: scaleX(1);
  transform-origin: left;
  transition: width 300ms 100ms linear;
}
.restaurant_menu_card .dish--content .dish_name {
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}
.restaurant_menu_card .dish--content p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant_menu_card .dish--price {
  align-items: flex-end;
  color: #363636;
  font-weight: 700;
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform-origin: right;
  transition: transform 300ms 100ms linear;
}
.restaurant_menu_card .dish:hover {
  cursor: pointer;
}
.restaurant_menu_card .dish:hover .select_animation {
  transform: scaleX(1);
}
.restaurant_menu_card .dish:hover .select_animation--icon {
  transform: rotate(360deg);
}
.restaurant_menu_card .dish:hover .dish--content {
  transition: 0.3s;
  width: 50%;
}
.restaurant_menu_card .dish:hover .dish--content .dish_name,
.restaurant_menu_card .dish:hover .dish--content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant_menu_card .dish:hover .dish--price {
  transform: translateX(-70px);
}
.restaurant_menu_card .btn {
  display: block;
  margin: auto;
  margin-top: 50px;
}

.homepage_header, .pages_header {
  width: 100%;
  height: 63px;
}
.homepage_header img, .pages_header img {
  margin: auto;
}

.pages_header {
  align-items: center;
  padding-right: 62px;
}
.pages_header a {
  width: 62px;
  height: 100%;
  color: #363636;
}
.pages_header a i {
  margin: auto;
  font-size: 1.3rem;
}
.pages_header h1 {
  width: 100%;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: black;
}
@media screen and (min-width: 768px) {
  .pages_header h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .pages_header h1 {
    font-size: 3rem;
  }
}

footer {
  background-color: #363636;
  color: #fff;
  font-weight: 500;
  padding: 30px 25px 30px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 13px;
  font-size: 1rem;
}
footer a {
  color: #fff;
  line-height: 2rem;
}
footer a i {
  font-size: 0.8rem;
  width: 8px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
  }
  footer h3 {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    margin-right: 25px;
  }
  footer a {
    font-size: 1.2rem;
  }
  footer a i {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
