.homepage_titles {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 25px;
}

.user_location {
  height: 50px;
  background-color: darken($grey, 4%);
  color: $dark-grey;
  box-shadow: inset 0 3px 3px 0px darken($grey, 15%);
  @extend .flex;
  i {
    margin-right: 15px;
  }
  p {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoints(tablet) {
    font-size: 1.3rem;
  }
  @include breakpoints(desktop) {
    font-size: 1.5rem;
  }
}

.call_to_action {
  padding: 40px 25px 55px;
  text-align: center;
  background-color: $grey;
  h2 {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
  }
  p {
    margin: auto;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.1rem;
  }

  @include breakpoints(tablet) {
    font-size: 1.5rem;
    h2 {
      color: $primary-color;
    }
  }
  @include breakpoints(desktop) {
    font-size: 1.7rem;
    h2 {
      color: $primary-color;
    }
  }
}

.how_to {
  padding: 45px 20px 40px;
  h2 {
    @extend .homepage_titles;
  }

  @include breakpoints(tablet) {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    // border-left: 3px dotted $primary-color;
    // border-right: 3px dotted $primary-color;
    border-radius: 1.25rem;
    h2 {
      font-size: 2rem;
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-color: $secondary-color;
      text-decoration-style: double;
    }
    .howto_cards {
      width: 100%;
      max-width: 400px;
    }
  }
  @include breakpoints(desktop) {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    // border-left: 3px dotted $primary-color;
    // border-right: 3px dotted $primary-color;
    border-radius: 1.25rem;
    h2 {
      font-size: 2rem;
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-color: $secondary-color;
      text-decoration-style: double;
    }
  }
  .howto_cards {
    width: 100%;
  }
}

.step_card {
  width: 100%;
  @extend .flex;
  height: 72px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;

  &--number {
    @extend .flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    z-index: 2;
    font-size: 0.8rem;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $primary-color;
    color: $white;
    font-weight: 600;
  }
  &--content {
    @extend .flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $grey;
    border-radius: 1.25rem;
    font-weight: 600;
    i {
      width: 21px;
      margin-left: -50px;
      margin-right: 25px;
      color: grey;
      font-size: 1.2rem;
    }
    .mobile {
      margin-left: -30px;
    }
    &:hover {
      background-color: lighten($primary-color, 35%);
      i {
        color: $primary-color;
      }
    }
  }
}

.restaurants {
  padding: 55px 20px 45px;
  background-color: $grey;
  h2 {
    margin-bottom: 25px;
    @extend .homepage_titles;
  }
  @include breakpoints(tablet) {
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 2rem;
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-color: $secondary-color;
      text-decoration-style: double;
    }
    .responsive_restaurants {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.responsive_restaurants {
  @include breakpoints(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .restaurant_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.restaurant_card {
  @include breakpoints(tablet) {
    width: 48%;
  }
  @include breakpoints(desktop) {
    height: 350px;
    &__image {
      height: 75%;
    }
    &__description {
      height: 25%;
    }
  }
  box-sizing: border-box;
  border-radius: 1.25rem;
  width: auto;
  height: 250px;
  margin-bottom: 16px;
  // overflow: hidden;
  background-color: $white;

  &--image {
    height: 70%;
    position: relative;
    img {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .new_restaurant {
      position: absolute;
      right: 12px;
      top: 12px;
      background-color: $tertiary-color;
      color: darken($tertiary-color, 35%);
      padding: 6px 13px;
      border-radius: 0.2rem;
      font-weight: 700;
      font-size: 0.9rem;
    }
  }

  &--description {
    display: flex;
    width: 90%;
    height: 30%;
    &--infos {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0 10px 15px;
      font-size: 1.2rem;

      .restaurant_name {
        font-weight: 700;
        margin-bottom: 3px;
      }
      .restaurant_city {
        font-weight: 300;
        font-size: 1.1rem;
      }
    }
  }
  .restaurant_like {
    padding: 15px 0 0 15px;
    margin: auto;
  }
}
